*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding-bottom: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main p#titulo{   
    font-size: 25px;
    color: white;
    background-color: #030F26;
    padding-left: 4em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

main img{
    max-width: 100px;
    padding-top: 2em;
}

main img#Email{
    max-width: 115px;
    padding-top: 3em;
}

main p#texto{
    font-size: 25px;
    color: black;
    padding-top: 0.5em;
    padding-left: 4em;
}

main div#container{
    padding-top: 4em;
    padding-left: 20em;
    padding-right: 20em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

main div#perguntas, main div#email, main div#whatsapp{
    width: 210px;
    height: 250px;
    box-shadow: 1px 1px 5px grey;
    color: #030F26;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    transition: all 0.5s;
}

main div#perguntas p, main div#email p, main div#whatsapp p{
    padding-bottom: 3em;
    font-size: 1.2em;
    font-weight: bold;
}

main div#perguntas:hover, main div#email:hover, main div#whatsapp:hover{
    cursor: pointer;
    height: 300px;
    transition: all 0.5s;
}

a{
    text-decoration: none;
}

/* CONTAINER QUESTOES */
div.container-questions{
    width: 80%;
    margin: 50px auto 0;
    /* display: none; */
}
div.pergunta{
    /* background-color: #02263D; */
    color: #000;
    cursor: default;
    padding: 0em 8px;
}
div.container-questions input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
div.container-questions label{
    font-size: 18px;
    font-weight: bold;
    padding: 0.8em 8px;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.container-questions label:hover{
    background-color: #030F26;
    color: white;
}
div.container-questions label::after{
    content: "\276F";
    text-align: center;
    transition: all .35s;
}
div.container-questions p{
    font-size: 18px;
    font-weight: 300;
    max-height: 0;
    padding: 5px 0;
    color: #000;
    background: white;
    transition: all .35s;
    overflow: hidden;
    padding: 0 8px;
}
div.container-questions input:checked + label{
    background-color: #030F26;
    color: white;
}
div.container-questions input:checked + label::after{
    transform: rotate(90deg);
}
div.container-questions input:checked ~ p{
    max-height: 100vh;
    padding: 1em 8px;
}

/* CONTAINER EMAIL */

main .container-enviar-email p.titulo2{
    font-size: 25px;
    color: white;
    font-weight: 300;
    background-color: #030F26;
    margin-top: 3em;
    padding: 0.6em 0 0.6em 4em;
}
main .container-enviar-email form{
    width: 60%;
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
main .container-enviar-email label{
    color: #030F26;
    font-size: 20px;
    font-weight: bold;
}

main .container-enviar-email form input[type="text"], main .container-enviar-email form input[type="email"]{
    width: 70%;
    height: 2em;
    outline: none;
    border: none;
    border-bottom: 2px solid #030F26;
    margin-bottom: 1em;
    font-size: 20px;
    background-color: transparent;
}
main .container-enviar-email input#enviar{
    margin-top: 1em;
    background-color: #334D01;
    color: white;
    border: none;
    padding: 1em 0;
    width: 8em;
    position: absolute;
    right: 0;
    bottom: -70px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5%;
}

main .container-enviar-email textarea{
    margin-top: 1em;
    width: 100%;
    height: 10em;
    font-size: 23px;
    border: 1px solid #030F26;
}
