*{
    margin: 0 auto;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2#titulo{
    font-size: 25px;
    color: white;
    font-weight: 500;
    background-color: #030F26;
    padding: 0.3em 0 0.3em 2em;
}

div#container{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    width: 95%;
    margin: 2em auto;
    padding-bottom: 1em;
    border-bottom: 2px solid grey;
}
div#container > div:first-child{
    display: flex;
}
main figure img{
    max-width: 225px;
    margin-right: 20px;
}
div.descricao-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.descricao-item div.nome p{
    font-size: 1.25em;
    font-weight: bold;
}
div.descricao-item div.nome p:last-child{
    font-weight: 300;
}
div.descricao-item p#desc{
    font-size: 0.9em;
}

div.descricao-item img{
    max-width: 35px;
}
div.container-tamanho p, div.container-genero p{
    font-weight: 400;
    font-size: 18px;
}
div.container-tamanho span, div.container-genero span{
    font-weight: 700;
    font-weight: 18px;
}
div#right{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

div#right img{
    max-width: 1em;
}

div#right div#quant{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

div#right p#valor{
    font-size: 25px;
    font-weight: bold;
}

div#tt{
    padding-right: 3em;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

div#tt p#txt{
    font-size: 25px;
    font-weight: 600;
}

p#valor-total{
    padding-left: 1em;
    font-size: 30px;
    font-weight: bold;
}

p#parcela{
    text-align: right;
    font-size: 18px;
    padding-right: 3em;
}
.container-bt-confirmar{
    position: relative;
    height: 5em;
}
button#confirmar{
    color: white;
    background-color: #334D01;
    border: none;
    font-size: 20px;
    padding: 0.6em 1.5em;
    margin-top: 1em;
    position: absolute;
    right: 40px;
    border-radius: 5px;
}

button#confirmar:hover{
    background-color: #1a2702;
    cursor: pointer;
}

button#confirmar a{
    color: white;
    text-decoration: none;
}
