@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
main{
    background-color: #ffffff;
}
.orientação{
    text-align: center;
    padding-bottom: 4em;
}
.orientação p{
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    padding: 1.5em 1em;
}
section input{
    width: 6%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #030F26;
    font-size: 3em;
    text-align: center;
}
section input[type="submit"]{
    width: 165px;
    height: 70px;
    outline: none;
    font-size: 1.6em;
    background-color:#334D01;
    border: none;
    border-radius: 6px;
    margin-top: 2.7em;
    color: #fefefe;
}
 section input[type="submit"]:hover{
    background-color: limegreen;
    color: black;
}
