@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/******************** HEADER ********************/
header div.header-principal{
    width: 100%;
    padding: 0.5em 1em;
    background-color: #030F26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
div.link-atendimento{
    display: block;
    width: 100%;
}
div.link-atendimento a{
    float: right;
    display: flex;
    align-items: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 4px 30px 4px 0;
}
div.link-atendimento img{
    width: 20px;
    margin-right: 5px;
}
.logotipo img{
    width: 120px;
    margin-right: 1em;
}
header form{
    display: flex;
    align-items: center;
}
header form input{
    width: 55em;
    height: 3.3em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0 0.7em;
}
header form img{
    position: relative;
    left: -30px;
    cursor: pointer;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
}
header div.area-de-acesso{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
header div.area-de-acesso div{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}
header div.area-de-acesso input{
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}
header div.area-de-acesso input:hover, header div.area-de-acesso a:hover{
    text-decoration: underline;
}
header a{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 1200px){
    header form input{
        width: 40em;
    }
    header div.area-de-acesso{
        margin-right: 0px;
    }
}
@media (max-width: 960px){
    header form input{
        width: 30em;
    }
}
/* ************************************** */
nav{
    font-family: 'Roboto', sans-serif;
}
nav a{
    display: inline-block;
    padding: 1em 2em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav li:hover{
    background-color: #acabab;
}
nav ol{
    display: flex;
}
/**************** FOOTER ******************/
footer{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}
footer section.vantagens ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030F26;
    color: #fff;
    padding: 5em 2em;
}
footer section.vantagens ul li figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer section.vantagens ul li figcaption{
    text-align: center;
    margin-top: 15px;
}
footer section.rodape{
    padding: 2em 3em 0;
}
footer section.rodape > ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4em;
}
footer section.rodape li{
    color: #000000;
}
footer section.rodape li img{
    width: 30px;
    margin: 0 10px 0 0;
}
ul.formas-de-pagamento{
    display: flex;
    flex-wrap: wrap;
    width: 180px;
}
footer ul.formas-de-pagamento li img{
    width: 50px;
}
ol.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li.destaque, p.destaque{
    font-weight: 1000;
    font-size: 1em;
    text-transform: uppercase;
}
ul, ol{
    list-style: none;
}
footer a{
    color: #000000;
    text-decoration: none;
}
footer p{
    text-align: center;
}

/* Área de login */
div.efeito{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
    z-index: 111111;
    left: 0;
    top: 0;
    background-color: rgba(15, 15, 15, 0.70);
    visibility: hidden;
    position: fixed;
}
div.login{
    background-color: white;
    width: 28em;
    height: 18em;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
form .container{
    margin-left: 68px;
}
form .container div{
    margin: 8px 0;
}
form .container input{
    width: 19em;
    padding: 8px 4px;
    border-radius: 5px;
}
form .container h2{
    margin-left: 48px;
    color: #000000;
    font-size: 1.5em;
}
a{
    text-decoration: none;
}
.container-entrar-cadastre-se{
    margin-top: 20px;
    margin-left: 116px;
}
.container-entrar-cadastre-se input[type="submit"], form a{
    background-color: #334D01;
    color: white;
    width: max-content;
    padding: 0.5em 1em;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 300;
}
form div.container a{
    background-color: transparent;
    padding: 0;
    color: #3B5AC9;
    text-decoration: underline;
    font-size: 15px;
    margin-left: 50px;
}
input[value="x"]{
    background-color: transparent;
    color: black;
    border: none;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-bottom: 255px;
    margin-right: 10px;
}