@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
main{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #030F26;
}
main img{
    width: 100%;
}
main h2{
    background-color: #030F26;
    /* margin-top: -4px; */
    padding: 0.5em 1em;
    text-align: center;
}
main h2 a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
}
/* main .banner{
    margin-top: -5px;
} */
.container-produtos-destaques{
    display: block;
    width: 100%;
    position: relative;
}
ol.produtos-destaques{
    display: flex;
    align-items: center;
    width: 100%;
    z-index: -1;
}
ol.produtos-destaques li{
    width: 33.4%;
}
ol.produtos-destaques li img{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.seta-anterior, .seta-proximo{
    outline: none;
    height: 50px;
    width: 50px;
    z-index: 3;
    position: absolute;
    top: 50%;
}
.seta-proximo{
    float: right;
    right: 0px;
}