@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
main{
    width: 100%;
}
main .banner img{
    width: 100%;
    height: 80%;
    vertical-align: middle;
}
/* main .seta{
    width: 20px;
    cursor: pointer;
} */
/* main .container-carrosel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 5px;
}
main .carrosel{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #000;
}
*/
main .carrosel img{
    width: 50px;
}
/* -------------------------------------------------------- */
section.container-campeonatos{
    background-image: linear-gradient(#fff 50%, #030F26 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em 0;
}
.campeonato{
    background-color: red;
}
.container-campeonatos a{
    width: 17em;
    border-radius: 40px;
    transition: all 1s; 
    display: inline-block;
    border-radius: 0;
}
.container-campeonatos img{
    width: 100%;    
}
.container-campeonatos:hover > a{
    opacity: 0.5;
}
.container-campeonatos:hover > a:hover{
    opacity: 1;
    width: 18em;
    transition: all 1s;
}

/* --------------------------------------------------------- */
section.mais-populares{    
    background-image: linear-gradient(#030F26 50%, #fff 50%);
    padding: 0 1em;
}
section.mais-populares h2{
    color: #fff;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #fff;
    font-size: 25px;
    font-weight: 300;
}
main div.container-produtos{
    margin-top: 40px;
}
main div.container-produtos ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main div.item{
    width: 288px;
    padding: 4px;
    position: relative;
    margin-bottom: 30px;
    transition: all .8s;
}
main div.foto-item{
    position: relative;
    width: 100%;
}
main div.foto-item div{
    z-index: 2222;
    position: absolute;
    right: 0;
}
main div.foto-item img{
    width: 100%;
    z-index: -1;
}
main div.foto-item div input{
    width: 30px;
    height: 30px;
    right: 0;
    margin-right: 7px;
    margin-top: 7px;
    position: absolute;
    cursor: pointer;
    outline: none;
    background-image: url("../imagens/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
main div.foto-item div input:hover{
    background-image: url("../imagens/heart_preenchido.svg");
}
div.info-item{
    color: #000;
}
div.info-item .nome-item{
    font-size: 20px;
}
div.info-item .preco .preco-item{
    color: #4b4a4a;
    text-decoration: line-through;
    margin: 3px 0;
}
div.info-item .preco .preco-promocional-item{
    font-weight: bold;
    font-size: 20px;
    margin: 3px 0;
}
div.info-item .preco .parcela{
    font-weight: 200;
    margin: 3px 0;
}
section.mais-populares .tamanho-carrinho{
    visibility: hidden;
}
main div.item:hover{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
}
main div.item:hover .tamanho-carrinho{
    visibility: visible;
}
section.mais-populares select{
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 5px 0;
}
section.mais-populares .tamanho-carrinho button{
    width: 100%;
    background-color: #888888;
    border: none;
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    justify-content: center;
}
section.mais-populares .tamanho-carrinho button img{
    width: 30px;
}
/* -------------------------------------------------- */
section.banner-2-elite{
    background-image: linear-gradient(#fff 50%, #030F26 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0em 0 4em;
    text-align: center;
}

section.banner-2-elite img{
    width: 75%;
}
/* ------------------------------------------------------ */
section.banner-regiao{
    background-image: linear-gradient(#030F26 50%, #fff 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4em 0;
    text-align: center;
}

section.banner-regiao:hover > a{
    opacity: 0.7;
}

section.banner-regiao:hover > a:hover{
    opacity: 1;
}

section.banner-regiao img{
    width: 80%;
}