div#perguntas{
    background-color: #030F26;
    color: white;
}

div#container-questions p{
    color: #030F26;
    font-size: 1.2em;
}

#pergunta-um{
    margin-top: 2em;
    height: 6em;
    width: 100%;
    color: white;
    background-color: #030F26;
}

#pergunta-um #perg-um{
    margin-left: 4em;
    padding-top: 0.5em;
    font-weight: bold;
}

#pergunta-um #resp-um{
    margin-top: 0.5em;
    margin-left: 4em;
}