@{
    ViewBag.Title = "FutShirt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="~/Content/Images/logo-icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/cadastro.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="cabecalho">
        <h2>Endereço</h2>
        <div class="breadcrumbs">
            <a href="#">Dados Pessoais</a>
            <a href="#">Confirmar Email</a>
            <a href="#" class="active">Endereço</a>
        </div>
    </div>

    <article>
        <form action="@Url.Action("Index", "Index")" class="dados">
            <div class="dados-cadastro">
                <label for="cep">CEP</label>
                <div class="dados-preencher">
                    <input type="text" id="cep" onkeypress="mascara(this, '#####-###')" maxlength="9" placeholder="000000-000" autocomplete="off" required pattern="\d{5}-\d{3}" />
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="UF">Estado</label>
                <div class="dados-preencher">
                    <select id="Estado" required>
                        <option value="" class="sel" disabled="disabled" selected="selected">Selecione seu Estado</option>
                    </select>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="cid">Cidade</label>
                <div class="dados-preencher">
                    <select id="Cidade" required>
                        <option value="" class="sel" disabled="disabled" selected="selected">Selecione sua Cidade</option>
                    </select>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="log">Logradouro</label>
                <div class="dados-preencher">
                    <input type="text" id="log" placeholder="Digite seu Logradouro" autocomplete="off">
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="num">Numero</label>
                <div class="dados-preencher">
                    <input type="text" id="num" maxlength="4" placeholder="0000" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="comp">Complemento</label>
                <div class="dados-preencher">
                    <input type="text" id="comp" placeholder="Digite o Complemento" autocomplete="off">
                </div>
            </div>
            <input type="submit" id="conf" value="Finalizar">
        </form>
    </article>
</body>
</html>
<script src="js/login.js"></script>
<script src="js/endereço-dadospessoais.js"></script>