@{
    ViewBag.Title = "FutShirt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="~/Content/Images/logo-icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/cadastro.css">
</head>
<body>
    <div class="cabecalho">
        <h2>Confirmar Cadastro</h2>
        <div class="breadcrumbs">
            <a href="#">Dados Pessoais</a>
            <a href="#" class="active">Confirmar Email</a>
            <a href="#">Endereço</a>
        </div>
    </div>

    <section>
        <div class="instrucoes-cadastro">
            <p>
                <b>Digite o código que enviamos por email</b></br>Para confirmar de que se trata de seu</br>email,
                enviamos para</br><b>usuario@email.com.</b> Caso não o</br>encontre, confira sua pasta de spam.
            </p>

            <form action="@Url.Action("CadastrarEndereco", "Cadastro")" class="confirmar-cadastro" name="F1">
                <input type="text" name="codigo1" maxlength="1" required onkeyUp="javascript:jumpto('codigo1','codigo2')">
                <input type="text" name="codigo2" maxlength="1" required onkeyUp="javascript:jumpto('codigo2','codigo3')">
                <input type="text" name="codigo3" maxlength="1" required onkeyUp="javascript:jumpto('codigo3','codigo4')">
                <input type="text" name="codigo4" maxlength="1" required onkeyUp="javascript:jumpto('codigo4','codigo5')">
                <input type="text" name="codigo5" maxlength="1" required onkeyUp="javascript:jumpto('codigo5','codigo6')">
                <input type="text" name="codigo6" maxlength="1" required onkeyUp="javascript:jumpto('codigo6','codigo1')">
                <div>
                    <input type="submit" value="Confirmar">
                </div>
            </form>
        </div>
    </section>
</body>
</html>
<script src="~/Scripts/main_js/login.js"></script>
<script src="~/Scripts/main_js/confcadastro.js"></script>