@{
    ViewBag.Title = "FutShirt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="~/Content/Images/logo-icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/cadastro.css">
</head>
<body>
    <div class="cabecalho">
        <h2>Dados Pessoais</h2>
        <div class="breadcrumbs">
            <a href="#" class="active">Dados Pessoais</a>
            <a href="#">Confirmar Email</a>
            <a href="#">Endereço</a>
        </div>
    </div>
    <article>
        <form action="@Url.Action("ConfirmarCadastro", "Cadastro")" class="dados">
            <div class="dados-cadastro">
                <label for="name">Nome Completo</label>
                <div class="dados-preencher">
                    <input type="text" id="name" name="nome" placeholder="Digite seu nome completo" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="email">Email</label>
                <div class="dados-preencher">
                    <input type="email" id="email" name="email" placeholder="Digite seu email" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="tel">Telefone</label>
                <div class="dados-preencher">
                    <input type="tel" id="tel" name="telefone" onkeypress="mascara(this, '## #####-####')" placeholder="(00) 00000-0000" maxlength="13" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="cpf">CPF</label>
                <div class="dados-preencher">
                    <input type="text" id="cpf" name="cpf" onkeypress="mascara(this, '###.###.###-##')" placeholder="000.000.000-00" maxlength="14" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="nasc">Data de nascimento</label>
                <div class="dados-preencher">
                    <input type="text" id="nasc" name="data_nascimento" onkeypress="mascara(this, '##/##/####')" placeholder="00/00/0000" maxlength="10" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="senha">Senha</label>
                <div class="dados-preencher">
                    <input type="password" id="password" name="senha" placeholder="Digite sua senha" autocomplete="off" required>
                </div>
            </div>
            <div class="dados-cadastro">
                <label for="confsenha">Confirmar senha</label>
                <div class="dados-preencher">
                    <input type="password" id="confpassword" name="confsenha" placeholder="Digite novamente sua senha" autocomplete="off" required>
                </div>
            </div>
            <input type="submit" id="conf" value="Prosseguir">
        </form>
    </article>
</body>
</html>
<script src="~/Scripts/main_js/login.js"></script>
<script src="~/Scripts/main_js/endereço-dadospessoais.js"></script>