main .breadcrumbs{
    display: inline-block;
    overflow: hidde;
    margin: 15px 0;
    font-size: 1rem;
}
main .breadcrumbs a{
    color: #000;
    text-decoration: none;
    background-color: #A2CDF2;
    width: 175px;
    text-align: center; 
    outline: none;
    line-height: 50px;
    float: left;
    position: relative;
    font-weight: 600;
    padding-left: 2rem;
}
main .breadcrumbs a:first-child{
    border-radius: 5px 0 0 5px;
    padding-left: 0;
}
main .breadcrumbs a:last-child{
    border-radius: 0 5px 5px 0;
    padding-left: 0;
}
main .breadcrumbs a::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: -25px;
    background-color: #A2CDF2;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    box-shadow: 3px -3px 0 2px #030F26;
    border-radius: 0 5px 0 50px;
}
main .breadcrumbs a:last-child::after{
    content: none;
}
main .breadcrumbs a:last-child{
    width: 200px;
}
.breadcrumbs a.active,
.breadcrumbs a:hover {
    background: #77A1D9;
    transition: all 1s;
}
.breadcrumbs a.active:after,
.breadcrumbs a:hover:after {
    background: #77A1D9;
    transition: all 1s;
}
main .dados{
    max-width: 30rem;
    margin: 0 auto 0 20%;
}

main .dados-cadastro{
    text-align: left;
}

main .dados-cadastro label{
    font-size: 1.5rem;
    display: inline-block;
}

main .dados-cadastro .dados-preencher {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
main .dados-preencher .icon {
    padding: 12px 0; 
    min-width: 50px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border: 1px solid black;;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
  }
  
main .dados-preencher .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
    height: 3rem;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
  }
  
  main .dados-preencher .input-field:focus {
    outline: 0;
  }

  main .dados-preencher .select-field {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
    height: 3rem;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
  }
  
  main .dados-preencher .select-field:focus {
    outline: 0;
  }
.bt-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1em;
}
main .dados input[type=submit]{    
    font-size: 1.1rem;
    width: 170px;
    height: 50px;
    outline: none;
    background-color:#334D01;
    border: none;
    border-radius: 6px;
    color: #fefefe;
}
main .dados input[type="submit"]:hover{
    cursor: pointer;
    background-color: #273a03;
}
@media (max-width: 875px){
    main .breadcrumbs{
        display: none;
    }
}
@media (max-width: 640px){
    main .dados-cadastro label{
        display: block;
    }
    main .dados-cadastro{
        text-align: left;
        margin-bottom: 1em;
    }
    main .dados-preencher > input{
        margin: 0;
    }
    main .dados-cadastro .dados-preencher{
        margin: 0;
    }
    main .dados-preencher > select{
        margin: 0;
    }
}
/* Confirmar Cadastro */
main .instrucoes-cadastro{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7rem;
}
main .confirmar-cadastro{
    margin: 2rem 1rem;
}

main .confirmar-cadastro > input{
    padding-top: 30px;
    text-align: center;
    width: 4rem;
    height: 5rem;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 .2rem;
    font-size: 2.2rem;
}

main .confirmar-cadastro > input:focus{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

main .instrucoes-cadastro input[type=submit]{    
    font-size: 1.1rem;
    width: 170px;
    height: 50px;
    outline: none;
    background-color:#334D01;
    border: none;
    border-radius: 6px;
    color: #fefefe; 
    margin: 1.5rem 0;
}
main .instrucoes-cadastro input[type="submit"]:hover{
    cursor: pointer;
    background-color: #273a03;
}
@media (max-width: 610px){
    main .confirmar-cadastro > input{
        width: 3rem;
    }
    main .instrucoes-cadastro{
        font-size: 1.5rem;
    }
}
@media (max-width: 485px){
    main .confirmar-cadastro > input{
        width: 2rem;
        font-size: 2rem;
    }
}
@media (max-width: 365px){
    main .confirmar-cadastro > input{
        width: 1.8rem;
    }
}
@media (max-width: 342px){
    main .confirmar-cadastro > input{
        width: 1.6rem;
    }
}