@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/******************** HEADER ********************/
header div.header-principal{
    width: 100%;
    padding: 1em;
    background-color: #030F26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.link-atendimento{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 20px 4px 0;
}
.link-atendimento a{
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 18px;
}
.link-atendimento img{
    width: 16px;
    margin-right: 5px;
}
h1 img{
    width: 80px;
    margin-right: 1em;
}
header form{
    display: flex;
    align-items: center;
}
header form input[type='search']{
    width: 50em;
    height: 3em;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0 0.7em;
    outline: none;
    border-right: none;
}
header .bt-pesquisa{
    background: url("../imagens/ampliacao.svg") no-repeat center;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    height: 3em;
    width: 3em;
    border: 1px solid #fff;
    border-left: none;
    outline: none;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}
header div.area-de-acesso{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
header div.area-de-acesso img{
    width: 32px;
}

header .sacola img{
    width: 32px;
}
header div.area-de-acesso div{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}
header div.area-de-acesso button, .area-de-acesso02 button{
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}
header div.area-de-acesso button:hover, header div.area-de-acesso a:hover{
    text-decoration: underline;
}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
/* #navegacao02, .menu-hamburger{
    display: none;
} */
.mostrar-menu{
    left: 0 !important;
}
i.fa-bars{
    font-size: 30px;
}

@media (max-width: 1200px){
    header form input[type='search']{
        width: 40em;
    }
    header div.area-de-acesso{
        margin-right: 0px;
    }
}
@media (max-width: 960px){
    header form input[type='search']{
        width: 30em;
    }
}
@media (max-width: 745px){
    header .barra-de-pesquisa{
        order: 1;
        width: 100%;
    }
    header .barra-de-pesquisa input[type='search']{
        width: 100%;
    }
    .header-principal img{
        margin: 0;
        margin-right: 1rem;
        width: 3rem;
    }
    header #navegacao02{
        background-color: #030F26;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 9999;
    }
    header #navegacao02 ol{
        display: flex;
        justify-content: center;
    }
    header #navegacao02 a{
        color: #fff;
    }
}
/* ************************************** */
header > nav{
    font-family: 'Roboto', sans-serif;
}
header > nav a{
    display: inline-block;
    padding: 1em 2em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
header > nav li:hover{
    background-color: #acabab;
}
header > #navegacao01 ol{
    display: flex;
}
/**************** FOOTER ******************/
footer{
    font-family: 'Roboto', sans-serif; 
    /* display: none; */
}
footer section.vantagens ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030F26;
    color: #fff;
    padding: 3em 2em;
}
footer section.vantagens ul li figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
footer section.vantagens ul li figcaption{
    text-align: center;
    margin-top: 15px;
}
footer section.rodape{
    padding: 2em 3em 0;
}
footer section.rodape > ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2em;
}
footer section.rodape li{
    color: #000000;
}
footer section.rodape li img{
    margin: 0 10px 0 0;
}
ul.formas-de-pagamento{
    display: flex;
    flex-wrap: wrap;
    width: 180px;
}
footer ul.formas-de-pagamento li img{
    width: 50px;
}
ol.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ol.redes-sociais a img{
    width: 26px;
}
li.destaque, p.destaque{
    font-weight: 1000;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
ul, ol{
    list-style: none;
}
footer a{
    color: #000000;
    text-decoration: none;
}
footer p{
    text-align: center;
}
@media (max-width: 765px){
    footer section.vantagens ul li figure{
        width: 100%;
    }
    footer section.vantagens ul li figure img{
        width: 50px;
    }
    footer section.vantagens ul li figcaption{
        font-size: 15px;
    }
    footer section.vantagens ul{
        padding: 2em 5px;
    }
    footer section.rodape > ol{
        flex-direction: column;
    }
    footer section.rodape > ol > li{
        margin: 0 0 15px 0;
    }
    footer ol.redes-sociais{
        justify-content: flex-start;
    }
    ol li p.destaque{
        text-align: left;
    }
}
@media (max-width: 500px){
    footer section.vantagens ul{
        flex-direction: column;
    }
    footer section.vantagens ul li{
        margin: 12px 0;
    }
}
/* Área de login */
div.efeito{
    display: none;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 100%;
    z-index: 111111;
    left: 0;
    top: 0;
    background-color: rgba(15, 15, 15, 0.70);
    /* visibility: hidden; */
    position: fixed;
    overflow: hidden;
}
div.login{
    background-color: white;
    width: 28em;
    height: 18em;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
form .container{
    margin-left: 68px;
}
form .container div{
    margin: 8px 0;
}
form .container input{
    width: 19em;
    padding: 8px 4px;
    border-radius: 5px;
    border: 1px solid black;
}
form .container h2{
    margin-left: 48px;
    color: #000000;
    font-size: 1.5em;
}
a{
    text-decoration: none;
}
.container-entrar-cadastre-se{
    margin-top: 20px;
    margin-left: 116px;
}
.container-entrar-cadastre-se input[type="submit"], form a{
    background-color: #334D01;
    color: white;
    width: max-content;
    padding: 0.5em 1em;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 300;
}
form div.container a{
    background-color: transparent;
    padding: 0;
    color: #3B5AC9;
    text-decoration: underline;
    font-size: 15px;
    margin-left: 50px;
}
button#fechar{
    background-color: transparent;
    color: black;
    border: none;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    outline: none;
    margin-bottom: 255px;
    margin-right: 10px;
}