*{box-sizing: border-box;}
main div.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    height: 4em;
    background-color: #030F26;
    color: #fff;
    border-top: 1px solid #fff;
    margin-bottom: 20px;
}
div.cabecalho h2{
    color: #FEFEFE;
    font-size: 1.8rem;
    font-weight: 500;
}
main .cabecalho-topico, main .accordion > label{
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 70px;
    font-size: 23px !important;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    justify-content: space-between;
    padding-right: 30px;
}
main section .cabecalho-topico{
    justify-content: start;
}
main .cabecalho-topico button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
main .cabecalho-topico img, main .cabecalho-topico button{
    width: 28px;
    height: 28px;
}
.accordion{
    display: flex;
    flex-direction: column;
    margin: 1em 0 !important;
}
main section .accordion > label{
    margin: 0;
    cursor: pointer;
}
main section .accordion > label::after{
    content: "\276F";
    text-align: center;
    transition: all .35s;
}
main section .accordion > label:hover{
    background-color: #5088d3;
}
main section .accordion > input{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
main section .accordion > input:checked + label{
    background-color: #5088d3;
}
main section .accordion > input:checked + label::after{
    transform: rotate(90deg);
}
main section .accordion > input:checked ~ .panel{
    display: block;
}
main .panel{
    display: none;
}
@media (max-width: 430px){
    main div.cabecalho{
        padding-left: 1em;
    }
    div.cabecalho{
        font-size: 1.2rem;
    }
}
/* LOGIN CELULAR*/
.voltar-index{
    border-bottom: 1px solid !important;
}
.voltar-index a{
    display: inline-block;
    padding: 1em 2em ;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.voltar-index i{
    margin-right: 0.5rem;
}
.voltar-index a:hover{
    background-color: #dadada;
    cursor: pointer;
}
.container-mobile{
    margin: 2rem auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.container-mobile h2{
    text-align: center;
}

.container-mobile div{
    width: 100%;
    display: block;
}

.container-mobile label{
    font-size: 1.2rem;
    display: inline-block;
    text-align: left;
}

.container-mobile .login-mobile {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.container-mobile .icon {
    padding: 12px 0; 
    min-width: 50px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.container-mobile div > input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1.2rem;
    height: 3rem;
    border: 1px solid #ced4da;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}

.container-mobile div > input:focus {
    outline: 0;
}

.container-mobile .senha{
    text-align: left;
    background-color: initial;
    color: #3B5AC9;
    padding: 0;
}
.container-mobile .senha:hover{
    text-decoration: underline;
}

form .login-buttons > input, form .login-buttons > a {
    margin: 1rem 0;
    background-color: #334D01;
    color: white;
    width: max-content;
    padding: 0.7em 1em;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 300;
}
form .login-buttons > input:hover, form .login-buttons > a:hover {
    background-color: #253603;
}

.navegacao-mobile a{
    text-align: center;
    display: block;
    padding: 1em 2em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid black;
}
.navegacao-mobile a:hover{
    background-color: #dadada;
    cursor: pointer;
}.navegacao-mobile i{
    margin-right: 0.5rem;
}
/*/////////////*/

/* PERSONALIZE */
.nm-b{
    margin-bottom: 0;
}

.cursor-pointer{
    cursor: pointer !important;
}