
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
main .conteudo{
    width: 100%;
    display: flex;
}
main .conteudo > div{
    width: 100%;
}
section.container_conteudo{
    width: 100%;
}
main div.cabecalho{
    margin-bottom: 0;
}
main nav{
    background-image: linear-gradient(to right,#030F26 60px, #fff 20%);
    min-width: 200px;
    border-right: 1px solid #030F26;
    padding: 120px 0 0;
}
main nav a{
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 8px 0;
}
main nav a img{
    margin-right: 4px;
    width: 30px;
    padding: 0 15px;
    box-sizing: content-box;
}
main nav a:hover, main nav a.active{
    background-color: #030F26;
    color: #fff;
}
.listresp{
    display: none;
}

.titulo_produto{
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 70px;
    font-size: 23px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
}
 .titulo_produto img{
    width: 28px;
    margin-left: 15px;
    vertical-align: middle;
}
.pesquisa input{
    width: 94%;
    height: 15px;
    padding: 0.8em;
    margin-top:20px;
    margin-left: 25px;
    outline: none;
    background-color: transparent;
    border:1px solid #030f23;
    color: #030f23;
    font-size: 1.2em;
    font-weight: 400;
}
.pesquisa ::placeholder{
   color: #030f23;
   font-size: 15px;
}
.camisa_imagens{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    width: max-content;
    padding: 10px 25px;
    margin: 0 auto;
}
.camresp{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.camisa img{
    width: 250px;
    height: 220px;
    display: block;
}
.camisa_descrição{
    font-size: 18px;
    font-weight: 400;
}
main #mais{   
    display:none;
    font-size: 1.1rem;
    width: 150px;
    height: 35px;
    position: relative;
    left: 83%;
    margin-bottom: 1em;
    margin-top: 1em;
    outline: none;
    background-color:#334D01;
    border: none;
    border-radius: 6px;
    color: #fefefe;
}
main #mais:hover{
    cursor: pointer;
    background-color: #273a03;
}

@media (max-width : 1328px){
    .ultmais{
          display:none;
     }
     main #mais{
         display: block;
     }
}

@media (max-width : 1060px){
    .pesquisa input{
        width: 90%;
        margin: 20px 0 0 35px;

    }
    .camisa_imagens{
        justify-content: space-around;
    }
    main #mais{
        left: 80%;
    }
}
@media (max-width : 799px){
    .camisa img{
        width: 220px;
    }
    .pesquisa input{
        width: 85%;
    }
    main #mais{
        left: 70%;
        width: 135px;
    }
}
@media (max-width:745px){
    .camisa img{
        width:175px;
        height:175px;
    }
}
@media (max-width : 645px){
    .camisa img{
       width: 215px;
       height: 188px;
    }
    
    .list{
        display:none;
    }

    main nav {
        min-width: 55px;
    }
    .listresp{
        display: block;
    }
    main #mais{
        left: 63%;
    }
}
@media (max-width : 585px){
    .camisa img{
        width: 300px;
        height: 280px;
    }
    
}
@media (max-width : 411px){
    .titulo_produto {
        width: 100%;
    }
    .titulo2{
        width: 100%;
    }
    .pesquisa input{
        width: 285px;
        margin: 8px 2px 4px 37px;
    }
    .camisa img{
        width: 260px;
        height: 250px;
    }
    main #mais{
        left: 58%;
    }
    .adicionarprod input[type = text]{
        width: 255px;
    }
    .formjunto #preco{
        width: 255px;
    }
    .container_conteudo .button_selecionar label{
        padding:0.7em;
    }
    .button_selecionar #adicionarprod{
        margin-top: 30px;
        margin-right: 30px;
    }
}
@media (max-width : 375px){
    
    
    .pesquisa input{
        width: 240px;
        margin: 2px 2px 4px 33px;
    }
    .camisa img{
        width: 240px;
        height: 250px;
    }
    main #mais{
        left: 53%;
    }
   
    .tamanho .tamanho_escolha{
        width: 250px;
    }
    .tamanho .tamanho_escolha li{
        width: 70px;
        height: 40px;
    }
    .pesquisa .botão_submit #deletar{
        width: 100px;
        height: 30px;
        font-size: 11px;

    }
    .pesquisa .botão_submit #Desativar{
        width: 110px;
        height: 30px;
        font-size: 11px;
    }
    
}
@media (max-width : 360px){
    
    .pesquisa input{
        width: 235px;
        margin: 2px 2px 4px 24px;
    }
    .camisa img{
        width: 240px;
        height: 250px;
    }
    main #mais{
        left: 50%;
    }
    .button_selecionar #adicionarprod{
        margin-right: 40px;
    }
    .adicionarprod input[type = text]{
        width: 235px;
    }
    .formjunto #preco{
        width: 235px;
    }
   
    
}
@media (max-width : 320px){
   
    .pesquisa input{
        width:225px;
    }
    .camisa img{
        width: 200px;
        height: 220px;
    }
    main #mais{
        left: 45%;
    }
    .adicionarprod input[type = text]{
        width: 220px;
    }
    .formjunto #preco{
        width: 220px;
    }
    .tamanho .tamanho_escolha{
        width: 230px;
    }
    .tamanho .tamanho_escolha li{
        width: 60px;
        height: 40px;
    }
    .button_selecionar #adicionarprod{
        margin-right: 15px;
    }
}

.titulo2{
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 23px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
}
.titulo2 img{
    width: 30px;
    height: 35px;
}
/*************************Form junto**********************************/
.adicionarprod{
    width: 100%;
}
.formjunto{
    display: flex;
}
.formjunto select:invalid{
    color: rgb(159, 159, 159, 0.6);
}
.formjunto select:hover{
    color: #030f23;
}
.formjunto select{
    width: 225px;
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.4em;
    font-weight: 400;
    color: #030f23;
    border-bottom: 1px solid #030f23;
}
.formjunto input[type ="text"]{
    width: 315px;
    height: 29.4px;
    display: block;
    font-size: 1.3em;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 400;
    color: rgb(159, 159, 159, 0.6);
    border-bottom: 1px solid #030F26;
}
.formjunto label{
    font-size: 28px;
    font-weight: 500;
}
.seljunto1,.seljunto2,.seljunto3{
   padding-left: 220px;
    margin-bottom: 1em;
}
.seljunto4{
    padding-left:125px;
    margin-bottom: 1em;
}
.selectseparado select:invalid{
    color: rgb(159, 159, 159, 0.6);
}
.selectseparado select:hover{
    color: #030f23;
}
.selectseparado select{
    width: 225px;
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.4em;
    font-weight: 400;
    color: #030f23;
    margin-bottom: 1em;
    border-bottom: 1px solid #030f23;  
}
/*****************************form separado***************************/

.formadicionar{
    width: 100%;
    height: 100%;
    padding-left: 35px;
    padding-top: 20px;
}
.formadicionar label{
    font-size: 20px;
    font-weight: 500;
}
.formadicionar ::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: rgb(159, 159, 159, 0.6);
}

.formadicionar input{
    width: 315px;
    height: 100%;
    display: block;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 1em;
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    border-bottom: 1px solid #030F26;
}
.formadicionar option:invalid{
        color:  #9f9f9fab;
}
.formadicionar select:valid{
    color: black;
}
.formadicionar #name{
    width: 200px;
}
.tamanho{
    padding-left: 2em;
}
.ptamanho{
    color: #030f23;
    font-size: 22px;
    font-weight: 700;
}
.tamanho_escolha{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 300px;
    cursor:pointer;
}
.tamanho_escolha li{
    background-color: #030f23;
    color: black;
    text-align: center;
    background-color: transparent;
    border: 1px solid #030f23;
    border-radius: 7px;
    padding-top: 0.8em;
    margin: 6px 6px;
    text-align: center;
    width: 50px;
    height: 45px;
}
.tamanho_escolha li:hover,.tamanho_escolha li:visited{
    background-color: #030f23;
    color: white;
}
.button_selecionar{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
    align-items: center;
}
.button_selecionar input[type=file]{
    display: none;
}
.button_selecionar label{
    background-color:#77A1D9;
    padding:0.9rem;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.button_selecionar input[type="submit"]{
    background-color: #334D01;
    color: white;
    border: none;
    font-size: 1em;
    margin: 0;
    border-radius: 5px;
    text-align: center;
    width: 170px;
    height: 50px;
}
.button_selecionar input[type="submit"]:hover{
    cursor: pointer;
    background-color: #273a03;
}
@media (max-width : 930px){
    .formjunto{
        display: block;
    }
    .seljunto1,.seljunto2,.seljunto3{
        padding:8px 0;
     }
     .seljunto4{
        padding:8px 0;
    }
    
}
/*************************Listar produtos***********************/
.botão_submit{
    position:relative;
    float: right;
    margin-right: 25px;
}
.botão_submit #deletar{
    width:160px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #7D0101;
    font-size: 17px;
    font-weight: 400;
    color: white;
}
.botão_submit #deletar:hover{
    cursor: pointer;
    background-color: rgb(95, 3, 3);
}
.botão_submit #Desativar{
    width:170px;
    height: 50px;
    text-align: center;
    border: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #4A5F7C;
    color: white;
}
.botão_submit #Desativar:hover{
    cursor: pointer;
    background-color: #2f4058;
}
.voltar{
    position: relative;
    float: right;
   padding: 4em 3em;

}
.voltar .linkvoltar{
    background-color: #334D01;
    width: 130px;
    height: 45px;
    text-align: center;
    padding-top: 0.6em;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.voltar .linkvoltar:hover{
    cursor: pointer;
    background-color: #273a03;
}
.voltar .linkvoltar a{
    color: white;
    font-size: 22px;
    font-weight: 400;
}
/******************************Visalizar produto*************************/
.container-fluid {
    padding: 0;
    display: none;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }
.Informaçãoproduto{
    display: flex;
    justify-content: space-between;
}
.foto{
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 40px;
    margin-top: 60px;
}
.fotonormal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}

.fotonormal img{
    height: 170px;
    margin-left: 25px;
}
.fotogrande{
   margin-left:10px;
}
.fotogrande img{
    height: 100%;
}
.informaçãocamisa{
   margin-right: 90px;
   margin-top: 55px;
}

.nomecamisa{
    font-size: 25px;
    font-weight: 500;
    color: #030f23;
    border-bottom: 1px solid #030f23;
}
.quantitens{
    color: #030f23;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
}
.preçoitem{
    color: #030f23;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 1px solid #030f23;
    width: 184px;
    margin-top:30px;
}
.Informaçãoproduto select{
    color: #030f23;
    outline: none;
    border: none;
    border-bottom: 1px solid #030f23;
    font-size: 25px;
    width: 185px;
    margin-top: 8px;
}
.ptamanhodisponivel{
    color: #030f23;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}
.tamanho_visual{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 300px;
    cursor:pointer;
}
.tamanho_visual li{
    background-color: #030f23;
    color: black;
    text-align: center;
    background-color: transparent;
    border: 1px solid #030f23;
    border-radius: 7px;
    padding-top: 0.8em;
    margin: 6px 6px;
    text-align: center;
    width: 55px;
    height: 43px;
}
.tamanho_visual .pp, .tamanho_visual .p{
    background-color: #030f23;
    color: white;
}

.descriçãoproduto{
    padding:5em 4em;
}
.descriçãoproduto .titulodescrição{
    font-size: 35px;
    font-weight: 500;
    color: #030f23;
    margin-bottom: 15px;
}
.descriçãoproduto .descrição{
    color: #030f23;
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid #030f23;
    width: 100%;
}
.camisanome{
    color:black;
    font-size: 1.8em;
    font-weight: 400;
    padding-left: 2.2em;
}
.informação_adicional{
   display: flex;
   justify-content: space-between;
   padding: 0.4em 1em;
}
.informação_adicional ::placeholder{
    color: black;
}
.infor1 label{
    display: inline-block;
    font-weight: 700;
    text-align: right;
    color: black;
    width: 30%;
    margin-top:15px;
    font-size: 1.8em;
}
.infor2 label{
    display: inline-block;
    font-weight: 700;
    text-align: right;
    color: black;
    width: 30%;
    margin-top:15px;

    font-size: 1.8em;
}
.infor3 label{
    display: inline-block;
    font-weight: 700;
    text-align: right;
    color: black;
    width: 30%;
    margin-top:15px;

    font-size: 1.8em;
}
.infor1 input,select{
    font-size: 25px;
    font-weight: 400;
    color: black;
    border: none;
    border-bottom: 1px solid #030f23;
    outline: none;
    margin-top:15px;
    margin-left: 5px;
}
.infor2 input,select{
    font-size: 25px;
    font-weight: 400;
    color: black;
    border: none;
    border-bottom: 1px solid #030f23;
    outline: none;
    width: 250px;
    margin-top:15px;
    margin-left: 5px;

}
.infor3 input,select{
    font-size: 25px;
    font-weight: 400;
    color: black;
    border: none;
    border-bottom: 1px solid #030f23;
    outline: none;
    margin-top:15px;
    margin-left: 5px;
}
.infor1{
    display: flex;
    flex-wrap: wrap;
    width:420px;
}
.infor2{
    display: flex;
    flex-wrap: wrap;
    width:410px;
}
.infor3{
    display: flex;
    flex-wrap: wrap;
    width:410px;
}
.infor3 input{
    width: 165px;
}
#material{
    width: 165px;
}
#name{
    width: 110px;
}
.submitvisual{
    display: flex;
    justify-content: space-between;
    padding: 6em 3em 3em 3em;
}
.submitvisual #voltar{
    background-color: #334D01;
    color: white;
    font-size: 25px;
    font-weight: 400;
    width: 150px;
    height: 65px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.submitvisual #voltar:hover{
    cursor: pointer;
    background-color: #273a03;
    
}
.submitvisual #deletar{
    background-color: #7D0101;
    color: white;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    width: 230px;
    height: 65px;
    border: none;
    border-radius: 7px;
}
.submitvisual #deletar:hover{
    cursor: pointer;
    background-color: rgb(95, 3, 3);
}
.submitvisual #Salvar{
    background-color: #334D01;
    color: white;
    width: 240px;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    margin-left: 1em;
    height: 65px;
    border: none;
    border-radius: 7px;
}
.submitvisual #Salvar:hover{
    cursor: pointer;
    background-color: #273a03;
}

@media (max-width : 1319px){
    .foto{
        flex-direction: column-reverse;
    }
    .fotonormal{
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 20px;
    }
    .fotonormal img{
        width: 187px;
        height: 180px;
        margin-left:10px
    }
    .informação_adicional{
        display: block;
        padding-left: 5em;
    }
    
}
@media (max-width : 1125px){
    .foto{
        margin-left: 5px;
    }
    .informaçãocamisa{
        margin-right: 5px;
    }
}
@media (max-width: 1004px){
    .foto{
        display: none;
    }
    .container-fluid {
        display: block;
    }
}
@media (max-width : 980px){
    .Informaçãoproduto{
        display: block;
    }
    .container-fluid{
        padding-top: 1em;
    }
    .container-fluid img{
      height: 600px;
    }
    .informaçãocamisa{
        padding-left: 4em;
        width: 75%;
    }
    .informaçãocamisa .nomecamisa{
        font-size: 40px;
    }
    .informaçãocamisa .quantitens{
        font-size: 25px;
    }
    .informaçãocamisa .preçoitem{
        font-size: 35px;
    }
}
@media (max-width: 850px){
    .submitvisual{
        display: block;
    }
    .submitvisual .deletar_salvar{
        display: block;
        padding-top: 1.5em;
    }
    .submitvisual #deletar{
        width:160px;
        font-size:20px
    }
    .submitvisual #Salvar{
        width: 170px;
        font-size: 20px;
    }
    
}

@media (max-width : 411px){
    .container-fluid{
        height: 425px;
    }
    .container-fluid img{
        height: 420px;
      }
      .informaçãocamisa{
          width: 90%;
          padding-left: 1.5em;
      }
      .descriçãoproduto{
          padding:3em 1.5em;
      }
      .informação_adicional{
         width: 385px;
         padding-left: 60px;
      }
      .infor1{
          display: block;
          width: 80%;
      }
      .infor2 {
        display: block;
        width: 78%;

    }
    .infor3{
        display: block;
        width: 70%;
    }
    
    .submitvisual #Salvar{
       margin-top: 20px;
       margin-left: 0;
    }
}

@media (max-width : 375px){
    .informação_adicional{
        width: 375px;
    }
}
@media (max-width : 360px){
    .container-fluid{
        height: 380px;
    }
    .container-fluid img{
        height: 370px;
    }
    .informação_adicional{
        width: 360px;
    }
    
}
@media (max-width : 320px){
    .informação_adicional{
        width: 310px;
    }
    .infor1 #time{
        width: 240px;
    }
}
/******************************************Gerenciar pedidos*************************/

.pedidos_titulo1{
    display: flex;
    justify-content: space-between;
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 23px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
}
.itens_listar{
    width: 100%;
}
.pedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #030f23;
    padding:25px 25px 10px 25px;
}
.pedido .pedido_foto{
    display: flex;
    flex-wrap: wrap;
    margin-left: 13px;
}
.pedido .conf_cancel{
    margin-right: 10px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pedido_ultimo{
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding:25px 25px 10px 25px;
}
.pedido_ultimo .pedido_foto{
    display: flex;
    flex-wrap: wrap;
    margin-left: 13px;
}
.pedido_ultimo .conf_cancel{
    margin-right: 10px;
    margin-top: 120px;
}
.pedido_datavalor{
    margin-top: 50px;
}

.inforpedido .nomecpf{
    font-size: 17px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 10px;
}
.inforpedido .nomecpf b{
    font-size: 20px;
    font-weight: 700;
}

.inforpedido .endere{
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
}
.inforpedido .endere b{
    font-size: 16px;
    font-weight: 500;
}
.imgcartao{
    display: flex;
    margin-top: 15px;
}
.imgcartao .imgc{
    font-size:10px;
    font-weight: 300;
    margin-left: 10px;
}
.imgcartao img{
    margin-left:20px ;
}
.imgcartao .imgc b{
    font-size: 10px;
    font-weight: 700;
}
.pedido_datavalor .datahora{
    font-size: 14px;
    font-weight: 300;
}
.pedido_datavalor .datahora b{
    font-size: 17px;
    font-weight: 500;
}
.pedido_datavalor .totalped{
    font-size: 14px;
    font-weight: 300;
}
.pedido_datavalor .totalped b{
    font-size: 17px;
    font-weight: 500;
}
.pedido_datavalor .totalped a{
    color: #030f23;
}
.pedido_datavalor .preço{
    font-size: 23px;
    font-weight: 500;
}
.outroped{
    display: flex;
    flex-wrap: wrap;
}
.outro_foto{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5em;
}
.outro_foto img{
    width: 125px;
    margin-left:38px;
}
.outro_foto .img2{
    margin-left:120px ;
}
.outronome{
    display: flex;
    flex-wrap: wrap;
}
.outronome p{
    font-size: 14px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.outronome p b{
    font-size: 24px;
}
.tamanhotipo{
    display: flex;
}
.tamanhotipo p{
    padding-left: 12px;
}
.generopreço{
    display: flex;
    padding-top: 0.8em;
}
.generopreço p{
    padding-left: 12px;
    padding-bottom: 12px;
}
.tipo{
  margin-left:20px;
}
.indic{
    margin-left:12px;
}
.preço{
    margin-top: 16px;
    margin-left: 10px;
    font-size:23px;
}
 .statuspedido {
     position: relative;
     float:right;
     left:120px;
     bottom:15px;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid #030f23;
}
 .statuspedido b{
    font-size: 17px;
    font-weight: 700;
}
.pedido_ultimo .conf{
    margin-right: 35px;
}
.status{
    font-size: 13px;
    font-weight: 300;
    position: relative;
    right:4px;
    bottom: 15px;
}
.status b{
    font-size: 17px;
    font-weight: 700;
}
@media (max-width: 1300px){
    .outro_foto .img2{
        margin-left:38px ;
    }
}

@media (max-width:930px){
   
    .pedido_foto{
        display: block;
    }
    .pedido_datavalor{
        margin-top: 130px;
    }
    .pedido_foto .fotousi{
        margin-left: 20px;
    }
    .outroped{
        display: block;
    }
    .status{
       margin-top:75px;
    }
   
}
@media (max-width:810px){
    .pedido{
       display: block;
    }
    .pedido_ultimo{
        display: block;

    }
    .pedido_datavalor{
        margin-top: 30px;
        margin-left:30px ;
    }
    .pedido_foto figure .fotousi{
        width: 50%;
    }
    .conf_cancel{
        margin-left:30px;
    }
    .conf_cancel img{
        width: 40px;
    }
    .list{
        display:none;
    }

    main nav {
        min-width: 55px;
    }
    .listresp{
        display: block;
    }
    .statuspedido {
        float: left;
        left: 28px;
        bottom: 0;
        top: 24px;
     }
    .status{
        margin-left: 33px;
    }
}
@media (max-width : 560px){
    .informação_outroped{
        margin-left: 25px;
    }
    .informação_ultoutroped{
        margin-left: 0;
    }
    .statuspedido {
       float: left;
       left: 28px;
       bottom: 0;
       top: 24px;
    }
    .preço{
        margin-left: 0;
    }
}
@media (max-width : 411px){
    .pedidos_titulo1{
        font-size: 20px;
    }
    .informação_outroped .generopreço{
        display: block;
    }
    .informação_outroped .generopreço .indic{
        margin-left: 2px;
    }
    .informação_outroped .generopreço .preço{
        margin-left: 2px;
    }
    .status{
        margin-top: 40px;
    }
}
@media (max-width : 375px){
    .pedidos_titulo1{
        font-size: 20px;
    }
}

/**********************************Responsividade////////////////////////////*


