main div.filtros-resultado{
    display: flex;
}
section.container-resultado-pesquisa h2{
    color: #fff;
    width: 100%;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #fff;
    font-size: 25px;
    font-weight: 300;
}
/* main div.container-produtos{
    margin-top: 40px;
} */
main div.container-produtos ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
main div.item{
    width: 288px;
    padding: 4px;
    position: relative;
    margin-bottom: 30px;
    transition: all .8s;
}
main div.foto-item{
    position: relative;
    width: 100%;
}
main div.foto-item div{
    z-index: 2222;
    position: absolute;
    right: 0;
}
main div.foto-item img{
    width: 100%;
    z-index: -1;
}
main div.foto-item div input{
    width: 30px;
    height: 30px;
    right: 0;
    margin-right: 7px;
    margin-top: 7px;
    position: absolute;
    cursor: pointer;
    outline: none;
    background-image: url("../imagens/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
main div.foto-item div input:hover{
    background-image: url("../imagens/heart_preenchido.svg");
}
div.info-item{
    color: #000;
}
div.info-item .nome-item{
    font-size: 20px;
}
div.info-item .preco .preco-item{
    color: #4b4a4a;
    text-decoration: line-through;
    margin: 3px 0;
}
div.info-item .preco .preco-promocional-item{
    font-weight: bold;
    font-size: 20px;
    margin: 3px 0;
}
div.info-item .preco .parcela{
    font-weight: 200;
    margin: 3px 0;
}
section.container-resultado-pesquisa .tamanho-carrinho{
    visibility: hidden;
}
main div.item:hover{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
}
main div.item:hover .tamanho-carrinho{
    visibility: visible;
}
section.container-resultado-pesquisa select{
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 5px 0;
}
section.container-resultado-pesquisa .tamanho-carrinho button{
    width: 100%;
    background-color: #888888;
    border: none;
    display: flex;
    cursor: pointer;
    height: 40px;
    align-items: center;
    justify-content: center;
}
section.container-resultado-pesquisa .tamanho-carrinho button img{
    width: 30px;
}

/* ---------------------------------------------------------------- */
section.lista-filtros{
    min-width: 16em;
}
div.container-filtro{
    padding: 1em;
    width: 100%;
}
div.container-filtro > input{
    z-index: -1;
    opacity: 0;
    position: absolute;
}
div.container-filtro > input:checked + label::after{
    content: "-";
}
div.container-filtro > input:checked ~ div{
    display: block;
}
div.container-filtro > label{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
div.container-filtro > label::after{
    content: "+";
}
div.container-filtro div{
    display: none;
}
div.container-filtro div form, div.container-filtro div ol{
    display: flex;
    flex-direction: column;
    max-height: 15em;
    overflow-y: scroll;
}
div.container-filtro div form label{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
div.container-filtro div form label input{
    margin-right: 5px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #030F26; 
}
div.container-filtro div ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
div.container-filtro div ol li{
    margin: 1em 5px 1em 0;
}
div.container-filtro div ol li a{
    padding: 0.7em 1.2em;
    border-radius: 5px;
    border: 2px solid #030F26;
    color: #030F26;
    font-weight: 700;
}
/* ---------------------------------------- */
.barra-informacoes-pesquisa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #030F26;
    margin-bottom: 5px;
}
.barra-informacoes-pesquisa .texto-pesquisado{
    font-weight: 600;
    font-size: 30px;
}
.barra-informacoes-pesquisa select{
    background-color: #c1c1c175;
    text-align: center;
}