*{
    margin: 0 auto;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2#titulo{
    font-size: 25px;
    color: white;
    font-weight: 500;
    background-color: #030F26;
    padding: 0.3em 0 0.3em 2em;
}

div.container-produto{
    display: flex;
	justify-content: space-between;
	align-items: center;
    width: 95%;
    margin: 2em auto;
    padding-bottom: 1em;
    border-bottom: 2px solid grey;
}
div.container-produto > div:first-child{
    display: flex;
}
main figure img{
    max-width: 225px;
    margin-right: 20px;
}
div.descricao-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.descricao-item div.nome p{
    font-size: 1.25em;
    font-weight: bold;
}
div.descricao-item div.nome p:last-child{
    font-weight: 300;
}
div.descricao-item p#desc{
    font-size: 0.9em;
}

div.descricao-item img{
    max-width: 35px;
}
div.container-tamanho p, div.container-cor p{
    font-weight: 400;
    font-size: 18px;
}
div.container-tamanho span, div.container-cor span{
    font-weight: 700;
    font-weight: 18px;
}
div.informacoes-valores-item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 200px;
    font-size: 18px;
    font-weight: 500;
}
div.informacoes-valores-item button{
    background-color: transparent;
    border: none;
    outline: none;
    margin: 5px 10px 0;
}
div.informacoes-valores-item img{
    max-width: 20px;
}

div.informacoes-valores-item div#quant{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 92px;
}

div.informacoes-valores-item p#valor{
    font-size: 25px;
    font-weight: bold;
}

div#tt{
    padding-right: 3em;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

div#tt p#txt{
    font-size: 25px;
    font-weight: 600;
}

p#valor-total{
    padding-left: 1em;
    font-size: 30px;
    font-weight: bold;
}

p#parcela{
    text-align: right;
    font-size: 18px;
    padding-right: 3em;
}
.container-bt-confirmar{
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    margin-bottom: 25px;
}
button#confirmar{
    color: white;
    background-color: #334D01;
    border: none;
    font-size: 20px;
    padding: 0.6em 1.5em;
    margin-top: 1em;
    border-radius: 5px;
}

button#confirmar:hover{
    background-color: #1a2702;
    cursor: pointer;
}

button#confirmar a{
    color: white;
    text-decoration: none;
}
@media (max-width: 670px){
    div.container-produto{
        flex-direction: column;
    }
    div.informacoes-valores-item{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        height: max-content;
        align-items: center;
    }
    div.informacoes-valores-item div#quant {
        font-size: 18px;
        font-weight: bold;
    }
    div.informacoes-valores-item{
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width: 500px){
    main figure img{
        width: 150px;
    }
    div.descricao-item{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (max-width: 440px){
    div#tt{
        padding-right: 12px;
    }
    p#parcela{
        padding-right: 12px;
    }
}
@media (max-width: 400px){
    p#valor-total{
        font-size: 22px;
    }
    div#tt p#txt{
        font-size: 18px;
    }
    button#confirmar{
        font-size: 16px;
    }
}