
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;

}
main>div{
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
}
main h2{
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    background-color: #030F26;
    padding: 15px 0 15px 60px;
    color: #fff;   
}
main nav{
    background-image: linear-gradient(to right,#030F26 60px, #fff 20%);
    min-width: 200px;
    border-right: 1px solid #030F26;
    padding: 120px 0 0;
}
main nav a{
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 8px 0;
}
main nav a img{
    margin-right: 4px;
    width: 30px;
    padding: 0 15px;
    box-sizing: content-box;
}
main nav a:hover, main nav a.active{
    background-color: #030F26;
    color: #fff;
}
.titulo_produto{
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 70px;
    font-size: 23px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
}
 .titulo_produto img{
    width: 25px;
    height: 30px;
    margin-left: 15px;
}
.pesquisa input{
    width: 95.5%;
    height: 40px;
    padding: 0.8em;
    margin-top:20px;
    margin-left: 25px;
    outline: none;
    background-color: transparent;
    border:1px solid #030f23;
    color: #030f23;
    font-size: 1.2em;
    font-weight: 400;
}
.pesquisa ::placeholder{
   color: #030f23;
   font-size: 15px;
}
.camisa_imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px;
}
.camisa img{
    width: 250px;
    height: 220px;
    margin-top: 13px;
}
.camisa_descrição{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
}
.titulo2{
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 23px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
}
.titulo2 img{
    width: 30px;
    height: 35px;
}
/*************************Form junto**********************************/
.adicionarprod{
    width: 100%;
}
.formjunto{
    display: flex;
}

.formjunto select:invalid{
    color: rgb(159, 159, 159, 0.6);
}
.formjunto select:hover{
    color: #030f23;
}
.formjunto select{
    width: 225px;
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.4em;
    font-weight: 400;
    color: #030f23;
    border-bottom: 1px solid #030f23;
}
.formjunto input[type ="text"]{
    width: 315px;
    height: 29.4px;
    display: block;
    font-size: 1.3em;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 400;
    color: rgb(159, 159, 159, 0.6);
    border-bottom: 1px solid #030F26;
}
.formjunto label{
    font-size: 28px;
    font-weight: 500;
}
.seljunto1,.seljunto2,.seljunto3{
   padding-left: 220px;
    margin-bottom: 1em;
}
.seljunto4{
    padding-left:125px;
    margin-bottom: 1em;
}
.selectseparado select:invalid{
    color: rgb(159, 159, 159, 0.6);
}
.selectseparado select:hover{
    color: #030f23;
}
.selectseparado select{
    width: 225px;
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.4em;
    font-weight: 400;
    color: #030f23;
    margin-bottom: 1em;
    border-bottom: 1px solid #030f23;  
}
/*****************************form separado***************************/
.formadicionar{
    width: 100%;
    height: 100%;
    padding-left: 35px;
    padding-top: 20px;
}
.formadicionar label{
    font-size: 28px;
    font-weight: 500;
}
.formadicionar ::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: rgb(159, 159, 159, 0.6);
}

.formadicionar input{
    width: 315px;
    height: 100%;
    display: block;
    font-size: 1.4em;
    margin-bottom: 1em;
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    border-bottom: 1px solid #030F26;
}
.formadicionar option:invalid{
        color:  #9f9f9fab;
}
.formadicionar select:valid{
    color: black;
}
.tamanho{
    padding-left: 2em;
}
.ptamanho{
    color: #030f23;
    font-size: 22px;
    font-weight: 700;
}
.tamanho_escolha{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 300px;
    cursor:pointer;
}
.tamanho_escolha li{
    background-color: #030f23;
    color: black;
    text-align: center;
    background-color: transparent;
    border: 1px solid #030f23;
    border-radius: 7px;
    padding-top: 0.8em;
    margin: 6px 6px;
    text-align: center;
    width: 60px;
    height: 48px;
}
.tamanho_escolha li:hover,.tamanho_escolha li:visited{
    background-color: #030f23;
    color: white;
}
.button_selecionar{
    margin-top: 50px;
}
.button_selecionar input[type=file]{
    display: none;
}
.button_selecionar label{
    background-color:#77A1D9;
    margin-left:38px;
    padding:1.2em;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}
.button_selecionar input[type="submit"]{
    float: right;
    background-color: #334D01;
    color: white;
    border: none;
    font-size: 1em;
    margin-right:10px;
    margin-bottom: 18px;
    border-radius: 5px;
    text-align: center;
    width: 170px;
    height: 50px;
}
.button_selecionar input[type="submit"]:hover{
    background-color: limegreen;
    color: black;
}
/*************************Listar produtos***********************/
.botão_submit{
    position:relative;
    float: right;
    margin-right: 25px;
}
.botão_submit #deletar{
    width:160px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #7D0101;
    font-size: 17px;
    font-weight: 400;
    color: white;
}
.botão_submit #Desativar{
    width:170px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #4A5F7C;
    color: white;
}
.voltar{
    position: relative;
    float: right;
   padding: 4em 3em;

}
.voltar .linkvoltar{
    background-color: #334D01;
    width: 120px;
    height: 50px;
    text-align: center;
    padding-top: 0.6em;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.voltar .linkvoltar:hover{
    background-color: limegreen;
}
.voltar .linkvoltar a{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
/******************************Visalizar produto*************************/

.Informaçãoproduto{
    display: flex;
    justify-content: space-between;
}
.foto{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 60px;
}
.fotonormal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}
.fotonormal img{
    height: 170px;
    margin-left: 25px;
}
.fotogrande{
   margin-left:10px;
}
.fotogrande img{
    height: 100%;
}
.informaçãocamisa{
   margin-right: 90px;
   margin-top: 55px;
}

.nomecamisa{
    font-size: 25px;
    font-weight: 500;
    color: #030f23;
    border-bottom: 1px solid #030f23;
}
.quantitens{
    color: #030f23;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
}
.preçoitem{
    color: #030f23;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 1px solid #030f23;
    width: 184px;
    margin-top:30px;
}
.Informaçãoproduto select{
    color: #030f23;
    outline: none;
    border: none;
    border-bottom: 1px solid #030f23;
    font-size: 25px;
    width: 185px;
    margin-top: 8px;
}
.ptamanhodisponivel{
    color: #030f23;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}
.tamanho_visual{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 300px;
    cursor:pointer;
}
.tamanho_visual li{
    background-color: #030f23;
    color: black;
    text-align: center;
    background-color: transparent;
    border: 1px solid #030f23;
    border-radius: 7px;
    padding-top: 0.8em;
    margin: 6px 6px;
    text-align: center;
    width: 55px;
    height: 43px;
}
.tamanho_visual .pp, .tamanho_visual .p{
    background-color: #030f23;
    color: white;
}
.descriçãoproduto{
    padding:5em 4em;
}
.descriçãoproduto .titulodescrição{
    font-size: 35px;
    font-weight: 500;
    color: #030f23;
    margin-bottom: 15px;
}
.descriçãoproduto .descrição{
    color: #030f23;
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid #030f23;
    width: 100%;
}
.camisanome{
    color:black;
    font-size: 1.8em;
    font-weight: 400;
    padding-left: 2.2em;
}
.informação_adicional{
   display: flex;
   justify-content: space-between;
   padding: 0.4em 1em;
}
.informação_adicional ::placeholder{
    color: black;
}
.infor1 label{
    display: inline-block;
    font-weight: 700;
    text-align: right;
    color: black;
    width: 30%;
    margin-top:15px;
    font-size: 1.8em;
}
.infor2 label{
    display: inline-block;
    font-weight: 700;
    text-align: right;
    color: black;
    width: 30%;
    margin-top:15px;

    font-size: 1.8em;
}
.infor3 label{
    display: inline-block;
    font-weight: 700;
    text-align: right;
    color: black;
    width: 30%;
    margin-top:15px;

    font-size: 1.8em;
}
.infor1 input,select{
    font-size: 25px;
    font-weight: 400;
    color: black;
    border: none;
    border-bottom: 1px solid #030f23;
    outline: none;
    margin-top:15px;
    margin-left: 5px;
}
.infor2 input,select{
    font-size: 25px;
    font-weight: 400;
    color: black;
    border: none;
    border-bottom: 1px solid #030f23;
    outline: none;
    width: 250px;
    margin-top:15px;
    margin-left: 5px;

}
.infor3 input,select{
    font-size: 25px;
    font-weight: 400;
    color: black;
    border: none;
    border-bottom: 1px solid #030f23;
    outline: none;
    margin-top:15px;
    margin-left: 5px;
}
.infor1{
    display: flex;
    flex-wrap: wrap;
    width:410px;
}
.infor2{
    display: flex;
    flex-wrap: wrap;
    width:410px;
}
.infor3{
    display: flex;
    flex-wrap: wrap;
    width:410px;
}
.infor3 input{
    width: 165px;
}
#material{
    width: 165px;
}
#name{
    width: 110px;
}
.submitvisual{
    display: flex;
    justify-content: space-between;
    padding: 6em 3em 3em 3em;
}
.submitvisual #voltar{
    background-color: #334D01;
    color: white;
    font-size: 25px;
    font-weight: 400;
    width: 150px;
    height: 65px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.submitvisual #voltar:hover{
    background-color: limegreen;
    color: white;
    
}
.submitvisual #deletar{
    background-color: #7D0101;
    color: white;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    width: 230px;
    height: 65px;
    border: none;
    border-radius: 7px;
}
.submitvisual #deletar:hover{
    background-color: red;
    color: white;
}
.submitvisual #Salvar{
    background-color: #334D01;
    color: white;
    width: 240px;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    margin-left: 1em;
    height: 65px;
    border: none;
    border-radius: 7px;
}
.submitvisual #Salvar:hover{
    background-color: limegreen;
    color: white;
}
/******************************************Gerenciar Pordutos*************************/

.pedidos_titulo1{
    display: flex;
    justify-content: space-between;
    background-color: #77A1D9;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 27px;
    height: 50px;
    padding-left: 20px;
    padding-right: 30px;
}
.itens_listar{
    width: 100%;
}
.pedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #030f23;
    padding:25px 25px 10px 25px;
}
.pedido .pedido_foto{
    display: flex;
    flex-wrap: wrap;
    margin-left: 13px;
}
.pedido .conf_cancel{
    margin-right: 10px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pedido_ultimo{
    display: flex;
    justify-content: space-between;
    align-items: center;
        padding:25px 25px 10px 25px;
}
.pedido_ultimo .pedido_foto{
    display: flex;
    flex-wrap: wrap;
    margin-left: 13px;
}
.pedido_ultimo .conf_cancel{
    margin-right: 10px;
    margin-top: 120px;
}
.pedido_datavalor{
    margin-top: 50px;
}
.inforpedido .nomecpf{
    font-size: 17px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 10px;
}
.inforpedido .nomecpf b{
    font-size: 20px;
    font-weight: 700;
}

.inforpedido .endere{
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
}
.inforpedido .endere b{
    font-size: 16px;
    font-weight: 500;
}
.imgcartao{
    display: flex;
    margin-top: 15px;
}
.imgcartao .imgc{
    font-size:10px;
    font-weight: 300;
    margin-left: 10px;
}
.imgcartao img{
    margin-left:20px ;
}
.imgcartao .imgc b{
    font-size: 10px;
    font-weight: 700;
}
.pedido_datavalor .datahora{
    font-size: 14px;
    font-weight: 300;
}
.pedido_datavalor .datahora b{
    font-size: 17px;
    font-weight: 500;
}
.pedido_datavalor .totalped{
    font-size: 14px;
    font-weight: 300;
}
.pedido_datavalor .totalped b{
    font-size: 17px;
    font-weight: 500;
}
.pedido_datavalor .totalped a{
    color: #030f23;
}
.pedido_datavalor .preço{
    font-size: 23px;
    font-weight: 500;
}
.outroped{
    display: flex;
    flex-wrap: wrap;
}
.outro_foto{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5em;
}
.outro_foto img{
    width: 125px;
    margin-left:38px;
}
.outro_foto .img2{
    margin-left:120px ;
}
.outronome{
    display: flex;
    flex-wrap: wrap;
}
.outronome p{
    font-size: 14px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.outronome p b{
    font-size: 24px;
}
.tamanhotipo{
    display: flex;
}
.tamanhotipo p{
    padding-left: 12px;
}
.generopreço{
    display: flex;
    padding-top: 0.8em;
}
.generopreço p{
    padding-left: 12px;
    padding-bottom: 12px;
}
.tipo{
  margin-left:20px;
}
.indic{
    margin-left:12px;
}
.preço{
    margin-top: 16px;
    margin-left: 10px;
    font-size:23px;
}
 .statuspedido {
     position: relative;
     float:right;
     left:120px;
     bottom:15px;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid #030f23;
}
 .statuspedido b{
    font-size: 17px;
    font-weight: 700;
}
.pedido_ultimo .conf{
    margin-right: 35px;
}
.status{
    font-size: 13px;
    font-weight: 300;
    position: relative;
    right:4px;
    bottom: 15px;
}
.status b{
    font-size: 17px;
    font-weight: 700;
}


