main .lado-esquerdo{
    width: 75%;
}
main .lado-esquerdo .topico-pagina{
    margin-top: 2em;
    background-color: #77A1D9;
    color: white;
    font-size: 18px;
    display: flex;
    padding: 0.4em 2.5em;
    align-items: center;
    margin-bottom: 10px;
}
main .lado-esquerdo .topico-pagina img{
    width: 30px;
    margin-left: 10px;
}
main .container-comprar-enderecos, main .container-formas-pagamento, main .container-forma-pagamento-parcelas, main .container-revise-compra{
    display: flex;
}
/* --------------------------------------- */
main .container-endereco{
    padding: 1em 0 2em 2.7em;
}
main .container-endereco #rua{
    font-weight: 500;
    font-size: 23px;
}
main .container-custo-envio{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1em;
    font-size: 24px;
    margin: 5px auto;
    font-weight: bold;
    border-bottom: 2px solid grey;   
}
div.container-produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 2em auto;
    padding-bottom: 1em;
}
div.container-produto > div:first-child{
    display: flex;
}
main .lado-esquerdo figure img{
    max-width: 225px;
    margin-right: 20px;
}
div.descricao-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div.descricao-item div.nome{
    margin-bottom: 3em;
}
div.descricao-item div.nome p{
    font-size: 1.25em;
    font-weight: bold;
}
div.descricao-item div.nome p:last-child{
    font-weight: 300;
}
div.descricao-item p#desc{
    font-size: 0.9em;
}

div.descricao-item img{
    max-width: 35px;
}
div.container-tamanho p, div.container-genero p{
    font-weight: 400;
    font-size: 18px;
}
div.container-tamanho span, div.container-genero span{
    font-weight: 700;
    font-weight: 18px;
}
div#right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
}
div#right p#valor{
    font-size: 25px;
    font-weight: bold;
}
/* ---------------------------------------- */
.cartoes-cadastrados .cartao-cadastrado{
    width: 92%;
    display: flex;
    align-items: center;
    margin: 25px auto;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}
.cartoes-cadastrados .cartao-cadastrado:last-child{
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0;
}
.cartoes-cadastrados .cartao-cadastrado > div{
    display: flex;
    align-items: center;
}
.cartoes-cadastrados .cartao-cadastrado .bandeira{
    margin-right: 10px;
}
.cartoes-cadastrados .cartao-cadastrado .bandeira img{
    width: 100px;
    vertical-align: middle;
}
.cartoes-cadastrados .cartao-cadastrado .informacoes-cartao .informacao-1{
    font-weight: 800;
    font-size: 18px;
}
.outras-formas-pagamento{
    margin-top: 20px;
    margin-bottom: 20px;
}
.outras-formas-pagamento div{
    display: flex;
    width: 92%;
    margin: 0 auto;
    cursor: pointer;
}
.outras-formas-pagamento div img{
    width: 70px;
}
.outras-formas-pagamento div div{
    flex-direction: column;
    font-size: 18px;
}
/* ------------------------------- */
.container-forma-pagamento-parcelas .cartoes-cadastrados .cartao-cadastrado{
    cursor: default;
}
.container-forma-pagamento-parcelas .container-parcelas div{
    width: 92%;
    margin: 0 auto;
    padding: 1em 1em;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid gray;
    cursor: pointer;
}
.container-forma-pagamento-parcelas .container-parcelas div:hover{
    background-color: #d8d8d891;
}
/* ---------------------------------------------------------- */
.container-detahes-pagamento{
    margin: 1em 0 5em;
}
.container-detahes-pagamento > div{
    display: flex;
    align-items: flex-start;
    width: 92%;
    margin: 0 auto;
}
.container-detahes-pagamento p{
    font-size: 21px;
}
.container-detahes-pagamento img{
    width: 120px;
}
/* BARRA LATERAL DIREITA */
main .lado-direito{
    border-left: 1px solid grey;
    padding: 2em 1em;
    width: 25%;
}
main .lado-direito h3{
    font-size: 23px;
    font-weight: 500;
    padding: 0.5em 0;
}
main .lado-direito div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 300;
    margin: 7px 0;
}
main .resumo-parcelas{
    flex-direction: column;
    align-items: baseline !important;
}
main .lado-direito .bd-bt{
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
}
/*  */
main .container-bt{
    width: 92%;
    display: flex !important;
    justify-content: flex-end !important;
    margin: 1.5em auto 2em !important;
}
main .container-bt a, main .container-bt button{
    background-color: #334D01;
    border: none;
    padding: .7em 1em;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}